In [5]:
import pandas as pd

In [16]:
file_dir = '/Users/fatoumatakourouma/desktop/Class Folder/movies_metadata'

In [17]:
movies_metadata = pd.read_csv(f'{file_dir}movies_metadata.csv', low_memory=False)
ratings = pd.read_csv(f'{file_dir}ratings.csv')

FileNotFoundError: [Errno 2] No such file or directory: '/Users/fatoumatakourouma/desktop/Class Folder/movies_metadatamovies_metadata.csv'

In [14]:
movies_metadata = pd.read_csv('movies_metadata.csv', low_memory=False)
ratings= pd.read_csv('ratings.csv')

In [25]:
movies_metadata.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [24]:
ratings.head()

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556

In [18]:
ratings.tail()

          userId  movieId  rating   timestamp
26024284  270896    58559     5.0  1257031564
26024285  270896    60069     5.0  1257032032
26024286  270896    63082     4.5  1257031764
26024287  270896    64957     4.5  1257033990
26024288  270896    71878     2.0  1257031858

In [23]:
movies_metadata.tail()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [20]:
movies_metadata.sample(n=5)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
40505,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,337641,tt4336182,en,Naked,Denice has starred in hundreds of porn films. ...,...,2014-11-07,0.0,61.0,"[{'iso_639_1': 'da', 'name': 'Dansk'}]",Released,NaN,Naked,False,0.0,0.0
14027,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,128856,tt0407008,de,Mitfahrer – Jede Begegnung ist eine Chance,NaN,...,2004-02-06,0.0,0.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}]",Released,NaN,Traffic Affairs,False,4.3,3.0
26906,False,NaN,0,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,29799,tt0114192,fr,Project Shadowchaser III,It has been 25 years since the ore spaceship S...,...,1995-01-01,0.0,99.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Project Shadowchaser III,False,3.8,3.0
826,False,NaN,0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,36266,tt0112767,vi,Xích lô,Follows a young cyclo (bicycle cab) driver on ...,...,1995-01-01,0.0,123.0,"[{'iso_639_1': 'vi', 'name': 'Tiếng Việt'}]",Released,NaN,Cyclo,False,6.8,23.0
41473,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",http://fantastipo.com/,252874,tt0450419,ja,ファンタスティポ,Two brothers must take the helm of their famil...,...,2005-02-10,0.0,109.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,NaN,ファンタスティポ,False,0.0,0.0

In [22]:
ratings.sample(n=5)

          userId  movieId  rating   timestamp
14115025  146645      533     3.0   842092477
21109158  219329     8937     5.0  1125966221
1206761    12399     2108     3.5  1348878376
1263225    12962      575     1.0  1032284458
3793400    39587      265     4.0   912581857